<!DOCTYPE html>
<html>
<head>
	<title>Coupon System | IITI Library</title>
	<link rel="stylesheet" type="text/css" href="css/pure.min.css">
	<link rel="stylesheet" type="text/css" href="css/base.css">
</head>
<body>
<center>
<img style="margin-top:100px;height:175px;" src="/images/IITIndorelogo.png">
<h1>IIT Indore Library Coupons System</h1>
Welcome to the future!
<br>
Manage your coupons, get print outs faster!
<br>
<br>
<a href="/register"><input class="pure-button pure-button-primary" type="button" value="Register!"></a>
<a href="/login"><input class="pure-button pure-button-primary" type="button" value="Login!"></a>
</center>
</body>
</html>
