<!DOCTYPE html>
<html>
<head>
	<title>User</title>
	<link rel="stylesheet" type="text/css" href="css/pure.min.css">
	<link rel="stylesheet" type="text/css" href="css/base.css">
</head>
<body>
<div class="wrapper">
<div class="pure-g" style="margin-top:100px;">
	<div class="pure-u-1-5"><div>Staff #{{ data.id }}</div></div>
	<div class="pure-u-3-5"><div><b>{{ data.name }}</b></div></div>
	<div class="pure-u-1-5"><div><a href="/logout"><input class="pure-button pure-button-primary" type="button" value="Logout!"></a></div></div>
</div>
<form method='POST' class="pure-form pure-form-stacked">
	<legend>Transfer Coupons</legend>
	<input placeholder="Rollno" type="number" name="rollno" required>
	<input placeholder="Amount" type="number" name="amount" required>
	<button class="pure-button pure-button-primary" type="submit" name="submit" value="1" default>Allot coupons</button>
	<button class="pure-button pure-button-primary" type="submit" name="submit" value="0">Redeem coupons</button>
	<br><span style="color:red;">{{ data.err }}</span>
</form>
</div>
</body>
</html>
