<!DOCTYPE html>
<html>
<head>
	<title>User</title>
	<link rel="stylesheet" type="text/css" href="css/pure.min.css">
	<link rel="stylesheet" type="text/css" href="css/base.css">
</head>
<body>
<div class="wrapper ">
	<a href="/logout"><input class="pure-button pure-button-primary" type="button" value="Logout!"></a>
	<form id="block-form" class="pure-form" method="POST">
		<legend>Block user</legend>
		<input type="text" placeholder="User id" name="id">
		<input class="pure-button pure-button-primary" type="submit" value="Block user">
		<div id="block-msg"></div>
	</form>
	<table class="pure-table" id="unapproved_users">
		<h3>Staff account requests</h3>
		<thead><tr><th>Name</th><th>E-mail</th><th>Status</th></tr></thead>
		<tbody>
		{% for user in data.unapproved_users %}
			<tr><td>{{user.name}}</td><td>{{user.email}}</td><td><button class="pure-button pure-button-primary" data-id="{{user.id}}">Approve</button></td></tr>
		{% endfor %}
		</tbody>
	</table>
	<table class="pure-table" id="blocked_users">
		<h3>Blocked users</h3>
		<thead><tr><th>Name</th><th>E-mail</th><th>Action</th></tr></thead>
		<tbody>
		{% for user in data.blocked_users %}
			<tr><td>{{user.name}}</td><td>{{user.email}}</td><td><button class="pure-button pure-button-primary" data-id="{{user.id}}">Unblock</button></td></tr>
		{% endfor %}
		</tbody>
	</table>
</div>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#unapproved_users button").click(function(e){
			var btn = $(this)[0];
			var id = $(this).data("id");
			$.ajax({
				url: '/ajax/approve',
				method: 'POST',
				data: {id: id},
				complete: function(data) {
					switch (data.status) {
						case 202:
						btn.innerHTML = 'Approved';
						btn.style.background = 'rgb(28,184,65)';
						btn.classList.add('pure-button-disabled');
						break;
						default:
						btn.innerHTML = 'Error';
						btn.style.background = 'rgb(202,60,60)';
						btn.classList.add('pure-button-disabled');
						break;
					}
				}
			});
		});
		$("#blocked_users button").click(function(e){
			var btn = $(this)[0];
			var id = $(this).data("id");
			$.ajax({
				url: '/ajax/unblock',
				method: 'POST',
				data: {id: id},
				complete: function(data) {
					switch (data.status) {
						case 202:
						btn.innerHTML = 'Unblocked';
						btn.style.background = 'rgb(28,184,65)';
						btn.classList.add('pure-button-disabled');
						break;
						default:
						btn.innerHTML = 'Error';
						btn.style.background = 'rgb(202,60,60)';
						btn.classList.add('pure-button-disabled');
						break;
					}
				}
			});
		});
		$("#block-form").submit(function(e){
			var btn = $("#block-msg")[0];
			var data = $(this).serializeArray();
			var id = $("#block-form input[name=id]")[0].value;
			$.ajax({
				url: '/ajax/block',
				method: 'POST',
				data: data,
				complete: function(data) {
					switch (data.status) {
						case 202:
						btn.innerHTML = 'Blocked user #'+id;
						btn.style.color = 'rgb(28,184,65)';
						break;
						default:
						btn.innerHTML = 'Error blocking user #'+id;
						btn.style.color = 'rgb(202,60,60)';
						break;
					}
				}
			});
			return false;
		});
	});
</script>
</body>
</html>
